<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My index page</title>
  </head>
  <body>
    {% if latest_added_infocards %}
        <ul>
        {% for infocard in latest_added_infocards %}
            <li><a href="{% url 'info_cards:detail' infocard.id %}">{{ infocard.name }}, {{ infocard.date_of_registration }}, {{ infocard.species }}, {{ infocard.breed }}, {{ infocard.sex }}, {{ infocard.age }}, {{ infocard.size }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No data</p>
    {% endif %}
  </body>
</html>