<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My index page</title>
  </head>
  <body>
    {% if latest_added_infocards %}
        <ul>
        {% for card in latest_added_infocards %}
            <li><a href="/info-cards/{{ card.id }}/">{{ card.name }}, {{ card.date_of_registration }}, {{ card.species }}, {{ card.breed }}, {{ card.sex }}, {{ card.age }}, {{ card.size }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No data</p>
    {% endif %}
  </body>
</html>